openapi: 3.2.0
info:
  title: Sportmonks Football Teams API
  description: 'REST API providing soccer/football data including livescores, fixtures, schedules,

    standings, teams, players, predictions, and odds across 2,500+ leagues worldwide.


    All endpoints accept the API token either as an `Authorization` header or as an

    `api_token` query parameter. Responses are JSON and support `include`, `filters`,

    and `select` query parameters for response shaping.'
  version: '3.0'
  contact:
    name: Sportmonks Support
    email: support@sportmonks.com
    url: https://www.sportmonks.com/
  termsOfService: https://www.sportmonks.com/terms-of-service/
  license:
    name: Sportmonks Commercial License
    url: https://www.sportmonks.com/terms-of-service/
servers:
- url: https://api.sportmonks.com/v3/football
  description: Sportmonks Football API v3 production base URL
security:
- ApiTokenHeader: []
- ApiTokenQuery: []
tags:
- name: Teams
  description: Team profiles, squads, and metadata.
paths:
  /teams:
    get:
      operationId: listTeams
      summary: List Teams
      description: Returns paginated teams across covered leagues.
      tags:
      - Teams
      parameters:
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: A list of teams.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamCollection'
  /teams/{id}:
    get:
      operationId: getTeam
      summary: Get Team By ID
      description: Returns a single team by identifier.
      tags:
      - Teams
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - $ref: '#/components/parameters/Include'
      responses:
        '200':
          description: A single team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamEnvelope'
components:
  schemas:
    Pagination:
      type: object
      properties:
        count:
          type: integer
        per_page:
          type: integer
        current_page:
          type: integer
        next_page:
          type:
          - string
          - 'null'
        has_more:
          type: boolean
    TeamCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Team'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Team:
      type: object
      properties:
        id:
          type: integer
        sport_id:
          type: integer
        country_id:
          type: integer
        venue_id:
          type:
          - integer
          - 'null'
        gender:
          type: string
        name:
          type: string
        short_code:
          type:
          - string
          - 'null'
        image_path:
          type: string
        founded:
          type:
          - integer
          - 'null'
        type:
          type: string
        placeholder:
          type: boolean
        last_played_at:
          type:
          - string
          - 'null'
          format: date-time
    TeamEnvelope:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Team'
  parameters:
    Include:
      name: include
      in: query
      description: Semicolon-separated list of related entities to embed in the response.
      required: false
      schema:
        type: string
    Page:
      name: page
      in: query
      description: Page number for paginated collection responses.
      required: false
      schema:
        type: integer
        minimum: 1
  securitySchemes:
    ApiTokenHeader:
      type: apiKey
      in: header
      name: Authorization
      description: Sportmonks API token passed as the value of the Authorization header.
    ApiTokenQuery:
      type: apiKey
      in: query
      name: api_token
      description: Sportmonks API token passed as the api_token query parameter.
