openapi: 3.0.3
info:
  title: Sportmonks Football Fixtures Players API
  description: 'REST API providing soccer/football data including livescores, fixtures, schedules,

    standings, teams, players, predictions, and odds across 2,500+ leagues worldwide.


    All endpoints accept the API token either as an `Authorization` header or as an

    `api_token` query parameter. Responses are JSON and support `include`, `filters`,

    and `select` query parameters for response shaping.

    '
  version: '3.0'
  contact:
    name: Sportmonks Support
    email: support@sportmonks.com
    url: https://www.sportmonks.com/
  termsOfService: https://www.sportmonks.com/terms-of-service/
  license:
    name: Sportmonks Commercial License
    url: https://www.sportmonks.com/terms-of-service/
servers:
- url: https://api.sportmonks.com/v3/football
  description: Sportmonks Football API v3 production base URL
security:
- ApiTokenHeader: []
- ApiTokenQuery: []
tags:
- name: Players
  description: Player profiles, attributes, and career data.
paths:
  /players:
    get:
      operationId: listPlayers
      summary: List Players
      description: Returns paginated players across covered leagues.
      tags:
      - Players
      parameters:
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: A list of players.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerCollection'
  /players/{id}:
    get:
      operationId: getPlayer
      summary: Get Player By ID
      description: Returns a single player profile.
      tags:
      - Players
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - $ref: '#/components/parameters/Include'
      responses:
        '200':
          description: A single player.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerEnvelope'
components:
  parameters:
    Page:
      name: page
      in: query
      description: Page number for paginated collection responses.
      required: false
      schema:
        type: integer
        minimum: 1
    Include:
      name: include
      in: query
      description: Semicolon-separated list of related entities to embed in the response.
      required: false
      schema:
        type: string
  schemas:
    Pagination:
      type: object
      properties:
        count:
          type: integer
        per_page:
          type: integer
        current_page:
          type: integer
        next_page:
          type: string
          nullable: true
        has_more:
          type: boolean
    PlayerCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Player'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Player:
      type: object
      properties:
        id:
          type: integer
        sport_id:
          type: integer
        country_id:
          type: integer
          nullable: true
        nationality_id:
          type: integer
          nullable: true
        city_id:
          type: integer
          nullable: true
        position_id:
          type: integer
          nullable: true
        detailed_position_id:
          type: integer
          nullable: true
        type_id:
          type: integer
          nullable: true
        common_name:
          type: string
        firstname:
          type: string
        lastname:
          type: string
        name:
          type: string
        display_name:
          type: string
        image_path:
          type: string
        height:
          type: integer
          nullable: true
        weight:
          type: integer
          nullable: true
        date_of_birth:
          type: string
          format: date
          nullable: true
        gender:
          type: string
    PlayerEnvelope:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Player'
  securitySchemes:
    ApiTokenHeader:
      type: apiKey
      in: header
      name: Authorization
      description: Sportmonks API token passed as the value of the Authorization header.
    ApiTokenQuery:
      type: apiKey
      in: query
      name: api_token
      description: Sportmonks API token passed as the api_token query parameter.
